.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: lightgrey;
}
.body{
  display: flex;
  flex-direction: column;
  position: absolute;
}

.textContainer{
  position: relative;
  cursor: pointer;
  transform-origin: center;
  transform-style: preserve-3d;
  transition: transform 0.4s;
}

.body{
  will-change: transform;
  transform-style: preserve-3d;
}
.textContainer p{
  font-size: 8vw;
  font-weight: 700;
  transform-style: preserve-3d;
  margin: 0px;
  transition: all 0.4s;
  color: white;
  line-height: 8vw;
}

.textContainer .secondary{
  transform: rotateX(-90deg) translate3d(0, 4vw, 0);
  transform-origin: bottom center;
  position: absolute;
  top: 0;
  color: black;
  opacity: 0;
}

.textContainer:hover{
  transform: rotateX(90deg);
}

.textContainer:hover .secondary{
  opacity: 1;
}

.textContainer:hover .primary{
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}

